<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cthulhu's Eye_angry_monster_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{274,220}</string>
                <key>textureRect</key>
                <string>{{0,0},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{274,220}</string>
                <key>textureRect</key>
                <string>{{274,0},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,220}</string>
                <key>spriteSourceSize</key>
                <string>{286,220}</string>
                <key>textureRect</key>
                <string>{{548,220},{286,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,220}</string>
                <key>spriteSourceSize</key>
                <string>{290,220}</string>
                <key>textureRect</key>
                <string>{{286,440},{290,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{274,220}</string>
                <key>textureRect</key>
                <string>{{548,0},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_rest1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{274,220}</string>
                <key>textureRect</key>
                <string>{{0,220},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_rest2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,220}</string>
                <key>spriteSourceSize</key>
                <string>{286,220}</string>
                <key>textureRect</key>
                <string>{{0,440},{286,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_rest3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,220}</string>
                <key>spriteSourceSize</key>
                <string>{290,220}</string>
                <key>textureRect</key>
                <string>{{576,440},{290,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_angry_monster_rest4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,220}</string>
                <key>spriteSourceSize</key>
                <string>{274,220}</string>
                <key>textureRect</key>
                <string>{{274,220},{274,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,220}</string>
                <key>spriteSourceSize</key>
                <string>{304,220}</string>
                <key>textureRect</key>
                <string>{{0,660},{304,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,220}</string>
                <key>spriteSourceSize</key>
                <string>{316,220}</string>
                <key>textureRect</key>
                <string>{{304,880},{316,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,220}</string>
                <key>spriteSourceSize</key>
                <string>{324,220}</string>
                <key>textureRect</key>
                <string>{{0,1100},{324,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,220}</string>
                <key>spriteSourceSize</key>
                <string>{304,220}</string>
                <key>textureRect</key>
                <string>{{304,660},{304,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_rest1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,220}</string>
                <key>spriteSourceSize</key>
                <string>{304,220}</string>
                <key>textureRect</key>
                <string>{{608,660},{304,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_rest2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,220}</string>
                <key>spriteSourceSize</key>
                <string>{316,220}</string>
                <key>textureRect</key>
                <string>{{620,880},{316,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_rest3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,220}</string>
                <key>spriteSourceSize</key>
                <string>{324,220}</string>
                <key>textureRect</key>
                <string>{{324,1100},{324,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cthulhu's Eye_normal_monster_rest4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,220}</string>
                <key>spriteSourceSize</key>
                <string>{304,220}</string>
                <key>textureRect</key>
                <string>{{0,880},{304,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cthulhu's Eye_normal_monster_animate.png</string>
            <key>size</key>
            <string>{936,1320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89081801c2ef0a1352ba1d63a081ff72:afba20527c7ae26d26e201e7b828077f:87728e0085124e6d84c12e72f2061df8$</string>
            <key>textureFileName</key>
            <string>Cthulhu's Eye_normal_monster_animate.png</string>
        </dict>
    </dict>
</plist>
