<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>O_small_monster_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_dead_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,33}</string>
                <key>spriteSourceSize</key>
                <string>{50,33}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{100,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move1_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{146,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{192,0},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move2_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,49}</string>
                <key>spriteSourceSize</key>
                <string>{47,49}</string>
                <key>textureRect</key>
                <string>{{239,0},{47,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{286,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move3_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{332,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{378,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move4_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{424,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_move5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{470,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_rest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{516,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_small_monster_rest_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{562,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>O_small_monster_animate.png</string>
            <key>size</key>
            <string>{608,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4676ad23d411b37a15dcd010ba5b5c9f:e8f3dc9f4e2ebd1004febc8c11468654:9fd691f373567c308324efa27bc79817$</string>
            <key>textureFileName</key>
            <string>O_small_monster_animate.png</string>
        </dict>
    </dict>
</plist>
