<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snow_monster_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_dead_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{52,0},{52,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{104,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move1_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{146,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{188,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move2_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{230,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{272,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move3_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{314,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{356,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_move4_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{398,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{440,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay1_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{482,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{524,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay2_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{566,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{608,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay3_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{650,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{692,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snow_monster_stay4_flip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{734,0},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>snow_monster_animate.png</string>
            <key>size</key>
            <string>{776,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ab2caa2df2c6cc6b0fa85edd55c82f:6cf4478041a0f3a00f06c59fb81e15d9:79684363c9d1160d0c825c627e69a4f2$</string>
            <key>textureFileName</key>
            <string>snow_monster_animate.png</string>
        </dict>
    </dict>
</plist>
