<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_dash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_dash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,48}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{76,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{0,144},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{57,144},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{0,206},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shock_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{57,206},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_action1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{0,268},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_action2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{0,281},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_action3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{0,294},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_action4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{0,307},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_action5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{0,320},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_action1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,333},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_action2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,333},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_action3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{0,393},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_action4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{60,393},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WeaponAmmoEffect.png</string>
            <key>size</key>
            <string>{120,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b1c2509a121a0076ff17f634eb4b49:09873bbd98285a5748e221cf31b0d508:71e9b1b9c86054473b8743612d7295e1$</string>
            <key>textureFileName</key>
            <string>WeaponAmmoEffect.png</string>
        </dict>
    </dict>
</plist>
